.page-title-404 {
    border: none;
}

.content-area-404 {
    align-items: center;
    flex: 2;
    padding-top: 35px;
    height: 100%
}

.search-field {
    font-family: 'Merriweather Web';
}

.widget select {
    font-family: 'Merriweather Web';
}

.widget.widget_recent_entries {
    ul {
        padding: 0;
        text-transform: capitalize;
        line-height: 1.8;
    }
}

.widget.widget_categories {
    ul {
        padding: 0;
        text-transform: capitalize;
        line-height: 1.8;
    }
}

.widget.widget_archive {
    padding: 0;
}