.product-container-ad {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1200px;
    padding-top: 50px;
    border-top: 1px dashed $d-border;
}

.entry-title-fp {
    position: relative;
    height: 500px;
    img {
        filter: brightness(65%);
        width: 600px;
        height: 550px;
        object-fit: cover;
    }
    * {
        position: absolute;
    }
    a {
        font-family: Merriweather;
        text-transform: capitalize;
        width: 90%;
        font-size: 50px;
        font-weight: normal;
        color: $background-color;
        top: 10%;
        left: 20px;
        line-height: normal;
        &:hover {
            color: $yellow;
        }
    }
}

.read-more-ad {
    width: 180px;
    padding: 0 0 40px 25px;
    text-align: center;
    position: relative;
    top: -45%;
    .button {
        width: 125px;
        padding: 10px 0;
        border: 1px solid $background-color;
        text-transform: uppercase;
        color: $background-color;
        font-size: 14px;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
}