header {
    text-transform: uppercase;
}

.entry-content {
    iframe {
        width: 100%;
    }
}

h2 {
    text-transform: uppercase;
}

input, textarea {
    background-color: #F5F5F5;
    border: 1px solid #e1e1e1;
}

label {
    font-size: 18px;
    line-height: 35px;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web';
}

.required {
    color: $orange;
}

input[type="submit"] {
    color: white;
    background-color: $green;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    border: none;
    width: 80px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    &:hover {
        background-color: darken($green, 20%);
        box-shadow: none;
        text-shadow: none;
    }
}