.site-main-fp {
    text-align: center;
    h2 {
        padding-top: 25px;
    }
    p {
        width: 750px;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 15px;
        line-height: 30px;
    }
}

.tax-nav-fp {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 1200px;
    justify-content: space-around;
    .tax-fp {
        text-transform: initial;
        .tax-li {
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: repeat(3, 1fr);
            height: 100%;
            text-align: center;
            width: 280px;
            border-top: (4px solid $border);
            border-right: (1px solid $border);
            border-bottom: (1px solid $border);
            border-left: (1px solid $border);
            &:hover {
                border-top: (4px solid $orange);
                border-right: (1px solid $orange);
                border-bottom: (1px solid $orange);
                border-left: (1px solid $orange);
            }
            img {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                padding: 20px;
            }
            .tax-text {
                width: 85%;
                margin: 0 auto;
            }
            a {
                color: $background-color;
                background-color: $green;
                margin: 0 auto;
                text-transform: uppercase;
                padding: 15px;
                height: 50px;
                &:hover {
                    background-color: darken($green, 10%)
                }
            }
        }
    }
}

.blog-front {
    width: 1200px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    h1 {
        text-transform: uppercase;
    }
    .journal-front {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.entry-meta-fp {
    padding: 10px 0 0 5px;
}

.product-text-fp {
    position: relative;
    text-align: left;
    border-top: (4px solid $border);
    border-right: (1px solid $border);
    border-bottom: (1px solid $border);
    border-left: (1px solid $border);
    z-index: 10;
    padding: 0 15px;
}

.read-entry {
    width: 120px !important;
    padding: 0 0 40px 0;
    text-align: center;
    .button {
        padding: 10px 0;
        border: 1px solid $black;
        text-transform: uppercase;
        color: $black;
        font-size: 14px;
        &:hover {
            color: $background-color;
            background-color: $green;
            border: 1px solid $green;
        }
    }
}

//Adventures
.adventures-title {
    text-transform: uppercase;
    text-align: center;
}

.adventures-fp {
    width: 1200px;
    margin: 0 auto;
    grid-gap: 15px;
    img {
        object-fit: contain;
    }
}

article {
    width: 100%;
    
}