/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $green;
	text-decoration: none;

	&:visited {
		color: $green;
	}
	&:hover,
	&:focus,
	&:active {
		color: $link_hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	.logo {
		width: auto;
	}
	ul {
		display: flex;
		list-style: none;
		text-transform: uppercase;
		li {
			padding-left: 15px;
		}
		}
	}

/* Small menu. */
//  .menu-toggle,
//  .main-navigation.toggled ul {
//  	display: block;
//  }

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
