// Taxonomy nav

.shop-container {
    padding-bottom: 80px;
    width: 100%;
}

.shop-title {
    padding-top: 20px;
    h1, .tax-nav {
        text-transform: uppercase;
        text-align: center;
    }
}

.tax-nav {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

// Products grid

.product-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding-top: 50px;
    border-top: 1px dashed $d-border;
    width: 100%
}

.product-area {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 300px;

    img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    }
    .product-text {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 45px;
        border-top: (4px solid $border);
        border-right: (1px solid $border);
        border-bottom: (1px solid $border);
        border-left: (1px solid $border);
        z-index: 10;
        padding: 0 15px;
        .price {
            &:before {
                content: "..........................................";
                position: absolute;
                right: 20%;
                z-index: -10;
            }
        }
        span, .price {
            text-transform: capitalize;
            background-color: $background-color;
            color: $black;
            vertical-align: middle;
            padding: 8px 0 0;
        }

    }
}

.read-entry {
    width: 180px;
    padding: 0 0 40px 0;
    text-align: center;
    .button {
        width: 180px;
        padding: 10px 0;
        border: 1px solid $black;
        text-transform: uppercase;
        color: $black;
        font-size: 14px;
        &:hover {
            color: $background-color;
            background-color: $green;
            border: 1px solid $green;
        }
    }
}
