.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    article {
        min-width: 200px;
        min-width: 200px;
        max-width: 200px;
        max-height: 200px;
    }
}