.content-taxonomy {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    // width: 1200px;
    padding: 50px 0;
    border-top: 1px dashed $d-border;
}


.tax-nav-single {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

ul {
    font-size: 18px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web';
}