/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

// .widget {
// 	margin: 0 0 $base__space-unit;

// 	/* Make sure select elements fit in widgets. */
// 	select {
// 		max-width: 100%;
// 	}
// }

.widget-area {
	padding-left: 50px;
	text-align: left;
	ul {
		padding-right: 50px;
		list-style: none;
		width: 100%;
	}
}

.textwidget {
	line-height: 35px;
	width: 225px;
	i {
		padding-right: 10px;
	}
	a, span {
		width: 100%
	}
}

// .widget_text {
// 	padding-left: 50px;
// }

.widget.widget_archive {
	ul {
		font-family: "Merriweather Web";
		text-transform: capitalize;
        padding: 0;
    }
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
	background: none;
	border: none;
}

.day-of-week {
	font-weight: bold;
}

/////

.tent-biz-hours-class {
	list-style: none;
}

.business-hours {
	font-family: 'Novecento Sans Web';
	font-size: 20px;
	width: 100%;
    line-height: 35px;
    list-style: none;
	font-weight: bold;
	text-transform: uppercase;
	color: $orange;
}

.copyright {
	font-family: 'Novecento Sans Web';
	text-transform: uppercase;
	padding-bottom: 15px;
	text-align: center;
	color: $background-color;
}