/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-area {
	// padding: 10px 65px;
	text-align: left;
	ul {
		padding-right: 50px;
		list-style: none;
		width: 100%;
	}
}

.textwidget {
	line-height: 35px;
	width: 225px;
	i {
		padding-right: 10px;
	}
	a, span {
		width: 100%
	}
}

.widget_text, .widget_archive {
	padding-left: 50px;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
	background: none;
	border: none;
}

.day-of-week {
	font-weight: bold;
}